* {
    margin : 0;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-areas:
    "header header header header"
    "left middle middle right"
    "footer footer footer footer";
}

.header {
    grid-area: header;
    text-align: center;
}

.footer {
    grid-area: footer;
    background-color: black;
    color: white;
    text-align: center;
}
.left {
    grid-area: left;
    background-color: rgb(248, 134, 248);
}

.right {
    grid-area: right;
    background-color: rgb(237, 172, 51);
}

.middle {
    grid-area: middle;
    background-color: rgb(183, 68, 68);
    height: 500px;
}
