@media only screen and (max-width : 718px) {
    .grid-container {
        display :flex;
        flex-direction: column; 
    }
    .middle {
        height: auto;
    }
    .left {
        height: 80px;
    }
}

